---
import Description from '~/components/Description.astro'
import Layout from '~/layouts/Layout.astro'
import { getLocale, getUI } from '~/utils/i18n'
import { icon, library } from '@fortawesome/fontawesome-svg-core'
import { faLinkedinIn } from '@fortawesome/free-brands-svg-icons'
export { getStaticPaths } from '~/utils/i18n'

library.add(faLinkedinIn)
const LinkedIn = icon({ prefix: 'fab', iconName: 'linkedin-in' })

const locale = getLocale(Astro)

const {
  routes: { about },
  layout,
} = getUI(locale)
---

<Layout title={layout.about.title} description={layout.about.description}>
  <main class="container flex min-h-screen w-full flex-col gap-24 py-24">
    <div class="flex w-full flex-col gap-6">
      <Description class="text-6xl font-bold leading-none">{about.title}</Description>
      <Description class="max-w-4xl text-base">
        {about.description}
      </Description>
    </div>
    <div class="flex w-full flex-col gap-4">
      <div class="text-4xl font-bold leading-none lg:text-5xl">{about.team.title}</div>
      <div class="flex flex-col gap-2 mt-4">
        <div class="flex items-center gap-4">
          <a href="https://www.linkedin.com/in/arryanbhatnagar/" target="_blank" class="opacity-80 hover:opacity-100 transition-opacity">
            <Fragment set:html={LinkedIn.html} />
          </a>
          <span class="text-xl">
            <span class="font-bold">Arryan Bhatnagar</span><span class="opacity-80">, Founder & CEO</span>
          </span>
        </div>
      </div>
    </div>
  </main>
</Layout>
